In [1]:
import pandas as pd
import numpy as np
import plotly.express as px

In [2]:
#importing and cleaning the govt expenditure growth data
expenditure = pd.read_csv("expenditure.csv", sep='\n')
expenditure.head(20)

          Data Source,"World Development Indicators",
0                     Last Updated Date,"2021-09-15",
1   Country Name,"Country Code","Indicator Name","...
2   Aruba,"ABW","Government expenditure on educati...
3   Africa Eastern and Southern,"AFE","Government ...
4   Afghanistan,"AFG","Government expenditure on e...
5   Africa Western and Central,"AFW","Government e...
6   Angola,"AGO","Government expenditure on educat...
7   Albania,"ALB","Government expenditure on educa...
8   Andorra,"AND","Government expenditure on educa...
9   Arab World,"ARB","Government expenditure on ed...
10  United Arab Emirates,"ARE","Government expendi...
11  Argentina,"ARG","Government expenditure on edu...
12  Armenia,"ARM","Government expenditure on educa...
13  American Samoa,"ASM","Government expenditure o...
14  Antigua and Barbuda,"ATG","Government expendit...
15  Australia,"AUS","Government expenditure on edu...
16  Austria,"AUT","Government expenditure on educa...
17  Azerbaijan,"AZE","Government expenditure on ed...
18  Burundi,"BDI","Government expenditure on educa...
19  Belgium,"BEL","Government expenditure on educa...

In [3]:
expenditure=expenditure['Data Source,"World Development Indicators",'].str.split(',',expand=True)

In [4]:
expenditure=expenditure.drop(index=0)

In [5]:
headers = expenditure.iloc[0]
new_expenditure  = pd.DataFrame(expenditure.values[1:], columns=headers)

In [6]:
new_expenditure = new_expenditure.drop(columns='"Indicator Name"')
new_expenditure = new_expenditure.drop(columns='"Indicator Code"')

In [7]:
new_expenditure.head(5)

1                 Country Name "Country Code"  ... NaN   NaN
0                        Aruba          "ABW"  ...      None
1  Africa Eastern and Southern          "AFE"  ...      None
2                  Afghanistan          "AFG"  ...      None
3   Africa Western and Central          "AFW"  ...      None
4                       Angola          "AGO"  ...      None

[5 rows x 66 columns]

In [8]:
new_expenditure1 = new_expenditure.take([0,56], axis = 1)

In [9]:
new_expenditure1.head(20)

1                  Country Name              "2014"
0                         Aruba  "6.50538015365601"
1   Africa Eastern and Southern  "4.61024498939514"
2                   Afghanistan  "3.45445990562439"
3    Africa Western and Central  "3.02971005439758"
4                        Angola                  ""
5                       Albania  "3.53929996490479"
6                       Andorra  "2.50616002082825"
7                    Arab World                  ""
8          United Arab Emirates                  ""
9                     Argentina  "5.43661022186279"
10                      Armenia  "2.65018010139465"
11               American Samoa                  ""
12          Antigua and Barbuda                  ""
13                    Australia  "5.22974014282227"
14                      Austria  "5.54711008071899"
15                   Azerbaijan  "2.44213008880615"
16                      Burundi  "5.99535989761353"
17                      Belgium  "6.63052988052368"
18                        Benin   "3.3275101184845"
19                 Burkina Faso  "4.08343982696533"

In [10]:
#deleting missing values basically (any areas where it says "" for the value under 2018 column)
new_expenditure1 = new_expenditure1[new_expenditure1['"2014"'] != '""']

In [11]:
new_expenditure1.head(20)

1                  Country Name              "2014"
0                         Aruba  "6.50538015365601"
1   Africa Eastern and Southern  "4.61024498939514"
2                   Afghanistan  "3.45445990562439"
3    Africa Western and Central  "3.02971005439758"
5                       Albania  "3.53929996490479"
6                       Andorra  "2.50616002082825"
9                     Argentina  "5.43661022186279"
10                      Armenia  "2.65018010139465"
13                    Australia  "5.22974014282227"
14                      Austria  "5.54711008071899"
15                   Azerbaijan  "2.44213008880615"
16                      Burundi  "5.99535989761353"
17                      Belgium  "6.63052988052368"
18                        Benin   "3.3275101184845"
19                 Burkina Faso  "4.08343982696533"
20                   Bangladesh  "1.96616005897522"
21                     Bulgaria  "4.07420015335083"
22                      Bahrain  "2.47689008712769"
25                      Belarus   "5.0094199180603"
26                       Belize  "6.42536020278931"

In [12]:
new_expenditure1 = new_expenditure1.rename(columns={'"2014"': 'Government expenditure on education, total (% of GDP)'})
new_expenditure1.head(5)

1                 Country Name Government expenditure on education, total (% of GDP)
0                        Aruba                                 "6.50538015365601"
1  Africa Eastern and Southern                                 "4.61024498939514"
2                  Afghanistan                                 "3.45445990562439"
3   Africa Western and Central                                 "3.02971005439758"
5                      Albania                                 "3.53929996490479"

In [13]:
#importing and cleaning the gdp growth data
gdp = pd.read_csv("gdp.csv", sep='\n')
gdp.head(20)

          Data Source,"World Development Indicators",
0                     Last Updated Date,"2021-09-15",
1   Country Name,"Country Code","Indicator Name","...
2   Aruba,"ABW","GDP growth (annual %)","NY.GDP.MK...
3   Africa Eastern and Southern,"AFE","GDP growth ...
4   Afghanistan,"AFG","GDP growth (annual %)","NY....
5   Africa Western and Central,"AFW","GDP growth (...
6   Angola,"AGO","GDP growth (annual %)","NY.GDP.M...
7   Albania,"ALB","GDP growth (annual %)","NY.GDP....
8   Andorra,"AND","GDP growth (annual %)","NY.GDP....
9   Arab World,"ARB","GDP growth (annual %)","NY.G...
10  United Arab Emirates,"ARE","GDP growth (annual...
11  Argentina,"ARG","GDP growth (annual %)","NY.GD...
12  Armenia,"ARM","GDP growth (annual %)","NY.GDP....
13  American Samoa,"ASM","GDP growth (annual %)","...
14  Antigua and Barbuda,"ATG","GDP growth (annual ...
15  Australia,"AUS","GDP growth (annual %)","NY.GD...
16  Austria,"AUT","GDP growth (annual %)","NY.GDP....
17  Azerbaijan,"AZE","GDP growth (annual %)","NY.G...
18  Burundi,"BDI","GDP growth (annual %)","NY.GDP....
19  Belgium,"BEL","GDP growth (annual %)","NY.GDP....

In [14]:
gdp=gdp['Data Source,"World Development Indicators",'].str.split(',',expand=True)

In [15]:
gdp=gdp.drop(index=0)

In [16]:
headers = gdp.iloc[0]
new_gdp  = pd.DataFrame(gdp.values[1:], columns=headers)

In [17]:
new_gdp = new_gdp.drop(columns='"Indicator Name"')
new_gdp = new_gdp.drop(columns='"Indicator Code"')

In [18]:
new_gdp

1                   Country Name "Country Code"  ...       NaN
0                          Aruba          "ABW"  ...      None
1    Africa Eastern and Southern          "AFE"  ...      None
2                    Afghanistan          "AFG"  ...      None
3     Africa Western and Central          "AFW"  ...      None
4                         Angola          "AGO"  ...      None
..                           ...            ...  ...  ..   ...
261                       Kosovo          "XKX"  ...      None
262                        Yemen           Rep.  ...  ""
263                 South Africa          "ZAF"  ...      None
264                       Zambia          "ZMB"  ...      None
265                     Zimbabwe          "ZWE"  ...      None

[266 rows x 65 columns]

In [19]:
new_gdp1 = new_gdp.take([0,56], axis = 1)

In [20]:
new_gdp1.head(5)

1                 Country Name               "2014"
0                        Aruba  "0.299999999999983"
1  Africa Eastern and Southern   "4.09091817358333"
2                  Afghanistan   "2.72454336394854"
3   Africa Western and Central   "5.83353865817509"
4                       Angola   "4.82262756838996"

In [21]:
new_gdp1 = new_gdp1[new_gdp1['"2014"'] != '""']

In [22]:
new_gdp1.head(5)

1                 Country Name               "2014"
0                        Aruba  "0.299999999999983"
1  Africa Eastern and Southern   "4.09091817358333"
2                  Afghanistan   "2.72454336394854"
3   Africa Western and Central   "5.83353865817509"
4                       Angola   "4.82262756838996"

In [23]:
new_gdp1 = new_gdp1.rename(columns={'"2014"': 'GDP growth (annual % for 2014)'})

In [24]:
new_gdp1.head(5)

1                 Country Name GDP growth (annual % for 2014)
0                        Aruba            "0.299999999999983"
1  Africa Eastern and Southern             "4.09091817358333"
2                  Afghanistan             "2.72454336394854"
3   Africa Western and Central             "5.83353865817509"
4                       Angola             "4.82262756838996"

In [25]:
 #importing and cleaning the literacy rates data
 literacy = pd.read_csv("literacy.csv", sep='\n')

In [26]:
literacy = literacy['Data Source,"World Development Indicators",'].str.split(',',expand=True)
literacy

                              0               1   ...    66    67
0              Last Updated Date    "2021-09-15"  ...  None  None
1                   Country Name  "Country Code"  ...  None  None
2                          Aruba           "ABW"  ...        None
3    Africa Eastern and Southern           "AFE"  ...        None
4                    Afghanistan           "AFG"  ...        None
..                           ...             ...  ...   ...   ...
263                       Kosovo           "XKX"  ...        None
264                        Yemen            Rep.  ...    ""
265                 South Africa           "ZAF"  ...        None
266                       Zambia           "ZMB"  ...        None
267                     Zimbabwe           "ZWE"  ...        None

[268 rows x 68 columns]

In [27]:
literacy=literacy.drop(index=0)

In [28]:
headers = literacy.iloc[0]
new_literacy  = pd.DataFrame(literacy.values[1:], columns=headers)

In [29]:
new_literacy

1                   Country Name "Country Code" "Indicator Name"  ...     NaN   NaN
0                          Aruba          "ABW"   "Literacy rate  ...  ""      None
1    Africa Eastern and Southern          "AFE"   "Literacy rate  ...  ""      None
2                    Afghanistan          "AFG"   "Literacy rate  ...  ""      None
3     Africa Western and Central          "AFW"   "Literacy rate  ...  ""      None
4                         Angola          "AGO"   "Literacy rate  ...  ""      None
..                           ...            ...              ...  ...  ..  ..   ...
261                       Kosovo          "XKX"   "Literacy rate  ...  ""      None
262                        Yemen           Rep.            "YEM"  ...  ""  ""
263                 South Africa          "ZAF"   "Literacy rate  ...  ""      None
264                       Zambia          "ZMB"   "Literacy rate  ...  ""      None
265                     Zimbabwe          "ZWE"   "Literacy rate  ...  ""      None

[266 rows x 68 columns]

In [30]:
new_literacy['"Indicator Name"'] = new_literacy[['"Indicator Name"', '"Indicator Code"']].agg(','.join, axis=1)
#problem: did not delete indicator code column after joining

In [31]:
new_literacy

1                   Country Name "Country Code"  ... NaN   NaN
0                          Aruba          "ABW"  ...      None
1    Africa Eastern and Southern          "AFE"  ...      None
2                    Afghanistan          "AFG"  ...      None
3     Africa Western and Central          "AFW"  ...      None
4                         Angola          "AGO"  ...      None
..                           ...            ...  ...  ..   ...
261                       Kosovo          "XKX"  ...      None
262                        Yemen           Rep.  ...  ""
263                 South Africa          "ZAF"  ...      None
264                       Zambia          "ZMB"  ...      None
265                     Zimbabwe          "ZWE"  ...      None

[266 rows x 68 columns]

In [32]:
new_literacy1 = new_literacy.take([0,59], axis = 1)
#due to some error the data is putting the 2018 values in the 2019 column so we can just change that column title later on but all the data is present

In [33]:
new_literacy1.head(10)

1                 Country Name              "2015"
0                        Aruba                  ""
1  Africa Eastern and Southern                  ""
2                  Afghanistan                  ""
3   Africa Western and Central                  ""
4                       Angola  "53.4072113037109"
5                      Albania                  ""
6                      Andorra                  ""
7                   Arab World  "67.7367477416992"
8         United Arab Emirates                  ""
9                    Argentina  "98.9328231811523"

In [34]:
new_literacy1 = new_literacy1[new_literacy1['"2015"'] != '""']

In [35]:
new_literacy1.head(5)

1  Country Name              "2015"
4        Angola  "53.4072113037109"
7    Arab World  "67.7367477416992"
9     Argentina  "98.9328231811523"
15   Azerbaijan  "99.7196578979492"
16      Burundi   "54.641658782959"

In [36]:
new_literacy1 = new_literacy1.rename(columns={'"2015"': 'Literacy rate (% of females ages 15 and above)'})

In [37]:
new_literacy1.head(5)

1  Country Name Literacy rate (% of females ages 15 and above)
4        Angola                             "53.4072113037109"
7    Arab World                             "67.7367477416992"
9     Argentina                             "98.9328231811523"
15   Azerbaijan                             "99.7196578979492"
16      Burundi                              "54.641658782959"

In [38]:
merge1 = pd.merge(new_expenditure1, new_gdp1, how= 'inner', on = 'Country Name')

In [39]:
merge1.head(5)

1                 Country Name  ... GDP growth (annual % for 2014)
0                        Aruba  ...            "0.299999999999983"
1  Africa Eastern and Southern  ...             "4.09091817358333"
2                  Afghanistan  ...             "2.72454336394854"
3   Africa Western and Central  ...             "5.83353865817509"
4                      Albania  ...             "1.77448678495493"

[5 rows x 3 columns]

In [40]:
FinalTable = pd.merge(merge1, new_literacy1, how = 'inner', on = 'Country Name')

In [41]:
FinalTable.head(20)

1                                    Country Name  ... Literacy rate (% of females ages 15 and above)
0                                       Argentina  ...                             "98.9328231811523"
1                                      Azerbaijan  ...                             "99.7196578979492"
2                                         Burundi  ...                              "54.641658782959"
3                                    Burkina Faso  ...                             "26.2202491760254"
4                                      Bangladesh  ...                             "57.8609313964844"
5                                          Brazil  ...                             "92.0605163574219"
6                                        Barbados  ...                             "99.5999984741211"
7                  Central Europe and the Baltics  ...                             "98.6618728637695"
8                                   Cote d'Ivoire  ...                             "36.7842483520508"
9                                        Colombia  ...                             "94.4846572875977"
10                         Caribbean small states  ...                             "92.9547271728516"
11    East Asia & Pacific (excluding high income)  ...                             "93.2682418823242"
12                            East Asia & Pacific  ...                             "92.9963912963867"
13  Europe & Central Asia (excluding high income)  ...                             "98.2553634643555"
14                          Europe & Central Asia  ...                             "97.5713729858398"
15                                        Ecuador  ...                             "93.2538604736328"
16                                          Spain  ...                             "97.4873504638672"
17       Fragile and conflict affected situations  ...                              "55.371280670166"
18                                         Guinea  ...                             "21.9622497558594"
19                                         Gambia  ...                             "33.5753517150879"

[20 rows x 4 columns]

In [42]:
FinalTable.shape
#So we are looking at data for 73 countries!

(69, 4)

In [43]:
finaltable = FinalTable.replace('"', '', regex=True)
finaltable

1                                Country Name  ... Literacy rate (% of females ages 15 and above)
0                                   Argentina  ...                               98.9328231811523
1                                  Azerbaijan  ...                               99.7196578979492
2                                     Burundi  ...                                54.641658782959
3                                Burkina Faso  ...                               26.2202491760254
4                                  Bangladesh  ...                               57.8609313964844
..                                        ...  ...                                            ...
64  Sub-Saharan Africa (IDA & IBRD countries)  ...                               55.3046112060547
65                        Upper middle income  ...                               93.6411209106445
66                                 Uzbekistan  ...                               99.9759902954102
67                                      World  ...                                81.526008605957
68                                   Zimbabwe  ...                               88.2838287353516

[69 rows x 4 columns]

In [44]:
income = pd.read_csv("incomegroups.csv", sep='\n')
income.head(5)
income

    Country Code,"Region","IncomeGroup","SpecialNotes","TableName",
0    ABW,"Latin America & Caribbean","High income",...
1    AFE,"","","26 countries, stretching from the R...
2    AFG,"South Asia","Low income","Fiscal year end...
3    AFW,"","","22 countries, stretching from the w...
4    AGO,"Sub-Saharan Africa","Lower middle income"...
..                                                 ...
264  XKX,"Europe & Central Asia","Upper middle inco...
265  YEM,"Middle East & North Africa","Low income",...
266  ZAF,"Sub-Saharan Africa","Upper middle income"...
267  ZMB,"Sub-Saharan Africa","Lower middle income"...
268  ZWE,"Sub-Saharan Africa","Lower middle income"...

[269 rows x 1 columns]

In [45]:
Income = income['Country Code,"Region","IncomeGroup","SpecialNotes","TableName",'].str.split('"',expand=True)
Income

        0                           1  2  ...  6                            7  8
0    ABW,   Latin America & Caribbean  ,  ...  ,                        Aruba  ,
1    AFE,                              ,  ...  ,  Africa Eastern and Southern  ,
2    AFG,                  South Asia  ,  ...  ,                  Afghanistan  ,
3    AFW,                              ,  ...  ,   Africa Western and Central  ,
4    AGO,          Sub-Saharan Africa  ,  ...  ,                       Angola  ,
..    ...                         ... ..  ... ..                          ... ..
264  XKX,       Europe & Central Asia  ,  ...  ,                       Kosovo  ,
265  YEM,  Middle East & North Africa  ,  ...  ,                  Yemen, Rep.  ,
266  ZAF,          Sub-Saharan Africa  ,  ...  ,                 South Africa  ,
267  ZMB,          Sub-Saharan Africa  ,  ...  ,                       Zambia  ,
268  ZWE,          Sub-Saharan Africa  ,  ...  ,                     Zimbabwe  ,

[269 rows x 9 columns]

In [46]:
Income = Income.drop(columns=[0,1,2,4,5,6,8])

In [47]:
Income = Income.rename(columns={3: 'IncomeLevel', 7:'Country Name'})

In [48]:
table = pd.merge(finaltable, Income, how = 'inner', on = 'Country Name')

In [49]:
table

               Country Name  ...          IncomeLevel
0                 Argentina  ...  Upper middle income
1                Azerbaijan  ...  Upper middle income
2                   Burundi  ...           Low income
3              Burkina Faso  ...           Low income
4                Bangladesh  ...  Lower middle income
..                      ...  ...                  ...
56  South Asia (IDA & IBRD)  ...
57      Upper middle income  ...
58               Uzbekistan  ...  Lower middle income
59                    World  ...
60                 Zimbabwe  ...  Lower middle income

[61 rows x 5 columns]

In [50]:
table['GDP growth (annual % for 2014)'] = table['GDP growth (annual % for 2014)'].astype(float)
table['Government expenditure on education, total (% of GDP)'] = table['Government expenditure on education, total (% of GDP)'].astype(float)
table['Literacy rate (% of females ages 15 and above)'] = table['Literacy rate (% of females ages 15 and above)'].astype(float)

In [51]:
table

               Country Name  ...          IncomeLevel
0                 Argentina  ...  Upper middle income
1                Azerbaijan  ...  Upper middle income
2                   Burundi  ...           Low income
3              Burkina Faso  ...           Low income
4                Bangladesh  ...  Lower middle income
..                      ...  ...                  ...
56  South Asia (IDA & IBRD)  ...
57      Upper middle income  ...
58               Uzbekistan  ...  Lower middle income
59                    World  ...
60                 Zimbabwe  ...  Lower middle income

[61 rows x 5 columns]

In [52]:
#groupby income level
countries_byI = table.groupby(by='IncomeLevel')
medians = countries_byI['Literacy rate (% of females ages 15 and above)'].agg('mean', 'median')

In [53]:
#px.bar(table, x=countries_byI, y=medians)

In [54]:
px.histogram(table, x='Literacy rate (% of females ages 15 and above)', color='IncomeLevel', range_x=(0,100), range_y=(0,5) )
#key takeaway is the differences in shape and spread for the lower -> higher income groups, literacy rate undeniably increases with income but
#the distributions show that there is more to it than that (i.e. low income literacy cannot be predicted solely from income)

In [55]:
expenditure_vs_lit = px.scatter(table, x='Government expenditure on education, total (% of GDP)', y='Literacy rate (% of females ages 15 and above)', color = 'IncomeLevel',range_y=(20,100), range_x=(2,6))

In [56]:
gdpgrowth_vs_lit = px.scatter(table, x='GDP growth (annual % for 2014)', y='Literacy rate (% of females ages 15 and above)', color= 'IncomeLevel', range_y=(20,100), range_x=(-2,8), hover_name='Country Name',)

In [57]:
gdpgrowth_vs_lit
#low income is the ONLY category that shows a significant relationship- therefore an improvement to the economic conditions
#of a country does not correlate to women's educational quality in the same way across income levels

In [58]:
expenditure_vs_lit
#by contrast, all income levels show at least some sort of relationship between rel expenditure and women's literacy
#what does this mean? one possible explanation is that more of the available money for gov't spending as a result of gdp growth
#is used on education and other basic needs of a country in lower income countries
#we can test this hypothesis by plotting gdp growth against expenditure!

In [59]:
gdp_vs_exp = px.scatter(table, x='GDP growth (annual % for 2014)', y='Government expenditure on education, total (% of GDP)', color= 'IncomeLevel', range_y=(0,8), range_x=(-2,8), hover_name='Country Name')

In [60]:
gdp_vs_exp
#not only are lower income countries showing a clear relationship between the two variables, its the ONLY category that has any kind of
#discernable pattern!! This is important because the predictive ability of gdp growth -> expenditure completely dissolves even
#at the lower middle income level, which many people would mistakenly assume follows a similar pattern to low income countries

In [61]:
#Why are these findings important? Discerning this key difference between low income and every other category is crucial to meaningful and
#effective activism toward improving women's education. Our approach should not be the same for countries with different characteristics
#for low income, the crucial piece is that more funding is available for education, whereas in upper categories it is the general income level
#and gdp growth that predict literacy best

In [62]:
#In countries where the basic needs are met, literacy comes down to other factors that could be further analyzed- for example:
#degree of income inequality, social dynamics (role of women in society), and other cultural factors
#Our data essentially begins to uncover the nuances of women's education throughout varying conditions, and provides insight as to the best
#course of action if we are aiming to improve it